body {
    background-color: rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}



p {
    text-indent: 50px;
}

.my-hr {
    width: 200px;
}

.date-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.my-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-left: 50px;
}

.h2-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-h2 {
    margin-left: 90px;
    margin-right: 90px;
    font-size: 15px;
    width: 70%;
}

.my-p {
    margin-left: 90px;
    margin-right: 90px;
    font-size: 15px;
    margin-bottom: 50px;
    width: 50%;
}

.center-everything {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}