* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(100deg, rgb(236,223,242) 0%, rgb(236,223,242) 24%,rgb(221,221,252) 24%, rgb(221,221,252) 28%,rgb(191,194,199) 28%, rgb(191,194,199) 40%,rgb(159,214,236) 40%, rgb(159,214,236) 84%,rgb(91,117,125) 84%, rgb(91,117,125) 100%),linear-gradient(55deg, rgb(236,223,242) 0%, rgb(236,223,242) 24%,rgb(221,221,252) 24%, rgb(221,221,252) 28%,rgb(191,194,199) 28%, rgb(191,194,199) 40%,rgb(159,214,236) 40%, rgb(159,214,236) 84%,rgb(91,117,125) 84%, rgb(91,117,125) 100%),linear-gradient(190deg, rgb(236,223,242) 0%, rgb(236,223,242) 24%,rgb(221,221,252) 24%, rgb(221,221,252) 28%,rgb(191,194,199) 28%, rgb(191,194,199) 40%,rgb(159,214,236) 40%, rgb(159,214,236) 84%,rgb(91,117,125) 84%, rgb(91,117,125) 100%),linear-gradient(145deg, rgb(58,35,104),rgb(79,120,139)); background-blend-mode:overlay,overlay,overlay,normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(78, 78, 78);
  background-attachment: fixed;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: rgb(207, 143, 24);
  letter-spacing: 1px;
}

section {
  background-color: rgb(119, 217, 223);
  background: transparent;
  margin-bottom: 2em;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 40%;
}

.header-nav {
  padding-right: 1.5em;
  font-weight: bolder;
  font-size: 18px;
}

:hover.header-nav {
  text-decoration: none;
}

/* -----------------body grid start-------------- */
.container {
  width: auto;
}

.row-one {
  /* margin-top: .5px; */
  height: auto;
  border-radius: 5px;
  min-width: 300px;
}

/* -------------col-one-start---------------- */
.col-one , .col-two {
  background-color: rgb(239, 247, 252);
  box-shadow: 0 0 20px 1px rgb(219, 212, 253); 
  margin: 5px;
  min-width: 300px;
}

.col-one {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: auto;
}

.download-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-one-img {
  width: 82%;
}

.col-one-p {
  width: auto;
  text-indent: 2em;
  font-size: 12px;
  margin-top: 1.5em;
  letter-spacing: 1px;
}
/* -------------col-one-end---------------- */
/* ----------col-two start------------ */
.col-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  letter-spacing: 1px;
  padding: 15px;
  border-radius: 5px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-h1 {
  font-size: 20px;
  margin-top: 1em;
  font-weight: bolder;
}

.grid-h2 {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 1.5em;
}

.grid-p {
  text-indent: 2em;
  font-size: 12px;
  
}

.date {
  font-size: 10px;
}

.indent {
  text-indent: 2em;
}
/* ----------col-two end------------ */

/* -------------row two start---------------- */

.row-two-col-one,
.row-two-col-two,
.row-two-col-three {
  margin: 5px;
  padding-bottom: 15px;
  height: auto;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0 0 20px 1px rgb(219, 212, 253);
}

/* ------------row two col one start---------------- */

.row-two-col-one {
  background-color: rgb(239, 247, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-01 {
  font-size: 10px;
}

.row-two-h1 {
  font-size: 18px;
  font-weight: bolder;
}

.row-two-p {
  font-size: 13px;
  letter-spacing: 1px;
  text-indent: 20px;
  padding-top: 10px;
}

li {
  font-size: 12px;
  letter-spacing: 1px;
}

ul {
  padding-left: 10px;
}

.my-tool-img {
  width: 50%;
}
/* ------------row two col one end---------------- */
.row-two-col-two {
  background-color: rgb(239, 247, 252);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.my-iframe {
  margin-top: 30px;
}

.row-two-h {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.row-two-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-two-col-three {
  background-color: rgb(239, 247, 252);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.col-three-img {
  width: 60%;
}

/* -------------row two start---------------- */

/* -------------row three start---------------- */
.row-three-col-one,
.row-three-col-two,
.row-three-col-three {
  margin: 5px;
  height: auto;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0 0 20px 1px rgb(219, 212, 253);
}

.row-three-col-one {
  background-color: rgb(239, 247, 252);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.col-four-img {
  height: 250px;
  width: 220px;
}

.row-three-col-two , .row-three-col-three {
  background-color: rgb(239, 247, 252);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

th , td {
  padding: 10px;
  font-size: 12px;
}

.row-three-col-three {
  background-color: rgb(239, 247, 252);
}


/* -------------row three end---------------- */

/* -------------last row start---------------- */
.my-hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #353535;
  height: 1px;
}

.last-row-left , .last-row-right {
  background-color: rgb(239, 247, 252);
  height: auto;
  margin-top: 5px;
  padding: 15px;
}

.last-row-left {
  min-width: 300px;
}

/* -------------last row end---------------- */

/* -----------------body grid end-------------- */

/* -------------buttons start---------------- */

.my-link {
  color: rgb(207, 143, 24);
  font-size: 15px;
}

.my-link:hover {
  text-decoration: none;
}

/* -------------buttons end---------------- */

/*------------------Media Query start----------------*/
@media screen and (min-width: 320px) and (max-width: 500px) {
  .logo {
    width: 90%;
  }

  .header-nav {
    font-weight: bolder;
    font-size: 13px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .logo {
    width: 60%;
  }

  .header-nav {
    font-weight: bolder;
    font-size: 13px;
  }
} 

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .logo {
    width: 70%;
  }
  
}
/*-------------------Media Query End-------------------------------*/
