* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .header-logo {
    margin-left: 2em;
    margin-top: 1.5em;
    margin-right: 40%;
} */

.logo {
    width: 300px;
}

.nav-a-wrap {
    margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: .2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-nav {
    padding: .5em;
    font-weight: bolder;
    font-size: large;
    color: black;
}

:hover.header-nav {
    text-decoration: none;
}

/* -----------------body grid start-------------- */

.row-one {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.col-one {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    height: 400px;
}

/* ----------col-two start------------ */
.col-two {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: 400px;
    letter-spacing: 1px;
}

.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-h1 {
    font-size: 20px;
    margin-top: 1em;
    font-weight: bolder;
}

.grid-h2 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 1.5em;
}

.grid-p {
    text-indent: 2em;
    font-size: 12px;
}

.date {
    font-size: 10px;
    position: absolute;
    top: 58px;
}

.indent {
    text-indent: 2em;
}
/* ----------col-two end------------ */

/* -----------------body grid end-------------- */

/* -------------buttons start---------------- */

.button {
    border: 1px solid black;
    height: 30px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 300ms , height 400ms;
}

.my-btn {
    color: black;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

:hover.my-btn {
    text-decoration: none;
}

:hover.button {
    width: 125px;
    height: 35px;
}
/* -------------buttons end---------------- */